

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(16, 16, 16, 0.5);
  z-index: 1000;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.674);
  animation: slideIn 0.5s ease-out;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.but {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.but:hover {
  background-color: #0056b3;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
